* {
    box-sizing: border-box;
}

body {
    background: content-box linear-gradient(135deg, #caf0f8, #0096c7);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@keyframes slideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    } to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    width: 100%;
    height: 750px;
    max-width: 400px;
    animation: slideUp 0.5s ease-out;
    margin: 40px; 
}

.form {
    background-color: white;
    border-radius: 12px;
    padding: 40px;

    transition: all 0.7s ease-in-out;
    width: 100%;
}

.input-label {
    display: block;
    font-size: large;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-box {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border: 2px solid grey;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #f8f9fa;
}

.input-box:focus {
    outline: none;
    border: 2px solid blue;
}

#resetHeader {
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    margin-top: 0;
    color: #333;
    font-size: 28px;
    border-bottom: 2px solid rgba(80, 80, 80, 0.2);
}

#resetButton {
    margin-top: 20px;
    padding: 14px;
    width: 100%;
    color: white;
    background: linear-gradient(45deg, #caf0f8, #0096c7);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: large;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

#resetButton:hover {
    transform: translateY(-2px);
    animation-duration: 1s;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.2);
}

#outputMessage {
    text-align: center;
    font-size: medium;
    display: none;
}