name: Core
networks:
  core:
    external: true
  backend:
    external: true

services:
 sqlserver-data:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-data
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=JcGDN9ST5KEG!
      - MSSQL_PID=Express
    ports:
      - 8002:1433
    networks:
      - core
      - backend

 sqlserver-credentials:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver-credentials
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=JcGDN9ST5KEG!
      - MSSQL_PID=Express
    ports:
      - 8003:1433
    networks:
      - core
      - backend