.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden; 
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.authorize-form {
    background: rgba(255, 255, 255, 0.65);
    padding: 20px;
}

#form-header {
    color: rgb();
    text-align: center;
}

.login-label {
    display: block;
    font-size:large;
}

#login {
    width: 100%;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid e1e5e9;
    outline: 2 solid green;
    transition: all 0.3s ease;
}

#login:focus {
    outline: none;
    border: 2px solid blue;
}


