* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Заголовок */
header {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

/* Левая панель навигации */
#sidenav {
    height:100%;
    background-color:var(--color-ui-sidebar-bg);
    z-index:1000;
    position:fixed;
    left:0;
    margin-left:-320px;
    top:56px;
    width:320px;
    /*overflow:hidden;*/
}

/* Панель навигации перекрывает страницу (слой 1) */
@media screen and (min-width: 700px) {
    #sidenav {
        margin-left:0;
        top:0;
        width:55px
    }
}

.nav-list {
    list-style: none;
}

.side-nav-item {
    overflow-x: hidden;
}

.inline-flex {
    display: flex;
}

.side-nav-logo {
    left: 0;
    top: 0;
    display: block;
}

#profile-icon {
    height: 10%;
    width: 10%;
}