name: Infrastructure
networks:
  infrastructure:
    external: true
  backend:
    external: true
  
services:
 dbapi:
    container_name: DbAPI
    image: ${DOCKER_REGISTRY-}dbapi
    build:
      context: ../../../
      dockerfile: Infrastructure/Docker/Dockerfile
    ports:
      - 5091:80
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:80 
      - DB_HOST1=sqlserver-data
      - DB_HOST2=sqlserver-credentials
      - DB_NAME1=Data
      - DB_NAME2=User_data
      - DB_SA_PASSWORD=JcGDN9ST5KEG!
      - LOG_PATH=logs/
      - SECRETS_PATH=Infrastructure/Secrets/;
    networks:
      - infrastructure
      - backend